@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header.main {
  background-color: rgb(52, 107, 52);
  padding: 1.2rem;
  color: white;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

header.main h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  margin: 10px auto;
}

nav.main {
  background-color: #4a3a6b;
  padding: 0 1rem;
}

nav.main ul {
  list-style: none;
  display: flex;
}

nav.main li {
  margin: 0.5rem;
  padding: 3px 0.5rem;
  color: white;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

nav.main li:nth-of-type(4) {
  margin-left: auto;
  cursor: pointer;
}
nav.main li:hover {
  border-bottom: 1px solid #d6c562;
}
section.main {
  flex: 1;
}

footer {
  background-color: #eee;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}
